{% extends 'base.html' %}

{% block main %}

    Banco de Horas
    <br>
    {% for registro_re in object_list %}
        <a href="{% url 'update_hora_extra_base' registro_re.id %}" class="btn btn-light btn-sm">
            {{ registro_re }}
        </a>
        <a href="{% url 'delete_hora_extra' registro_re.id  %}" class="btn btn-danger btn-sm">
            Deletar
        </a>
    <br>
    {% endfor %}

    {% if not object_list %}
        <h3>Não existem registros de horas extras no banco de dados.</h3>
    {% endif %}
    <a href="{% url 'create_hora_extra' %}" class="btn btn-info btn-sm">
            Novo
    </a>

{% endblock %}