{% extends 'base.html' %}

{% block main %}
    <br>
    {% for funcionario in object_list %}
        <a href="{% url 'update_funcionario' funcionario.id %}">
            {{ funcionario }}
        </a>
        <a href="{% url 'delete_funcionario' funcionario.id %}" class="btn btn-danger">
            Deletar
        </a>
    <br>
    {% endfor %}
    <br>
    <a href="{% url 'create_funcionario' %}" class="btn btn-info"> Novo </a>
    <a href="{% url 'pdf_reportlab' %}" class="btn btn-info">Rel. de Funcionarios</a>
    <a href="{% url 'pdf_html' %}" class="btn btn-info">Rel. Funcionarios Html</a>
    <a href="{% url 'pdf_html_debug' %}" class="btn btn-danger">Rel. Funcionarios Debug Html</a>

{% endblock %}